<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>
    <h1>ChatBot</h1>
    <form method = "POST" action="/passing">
        <input type="text" name="userenter" id="userenter"
        placeholder="Enter what you need">
        <button type="submit">Submit</button>
        <h3>Hello and welcome to our customer care ChatBot</h3>

        <h3>1. Request information</h3>
        <h3>2. Specific issue</h3>
        <h3>3. Human assistance</h3>
        
    </form>
</body>
</html>